* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #2F4F4F;
    color: white;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 35px;
}

input {
    height: 40px;
    width: 250px;
}

button {
    height: 45px;
    width: 250px;
    font-weight: 600;
    font-size: 22px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #D9D9D9;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    background-color: #D9D9D9;
}

.div-cadastro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer {
    display: flex;
    padding: 10px;
}

footer a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    text-align: center;

    width: 150px;
}
