* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #2F4F4F;
    color: white;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 35px;
}

input {
    height: 15px;
    width: 100px;
}

button {
    color: #FFFFFF;
    background-color: #95CD90;
    height: 45px;
    width: 150px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #79af74;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.div-exportar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}


footer {
    display: flex;
    justify-content: space-between;
    gap: 500px;  
    padding: 10px;
}

#btnVoltar {
    display: inline-block;
    padding: 10px 15px;
    background-color: #C98282;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    width: 150px;
}

#btnVoltar:hover {
    background-color: #b55;
}
