* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #2F4F4F;
    color: white;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-left: 220px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 35px;
}

p {
    font-size: 2rem;
}

.div-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#inputFile {
    display: none;
    border: 1px solid black;
}

.input-file {
    background-color: #CCCBCB;
    padding: 35px 25px;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    transition: 0.2s;
    border: 1px solid black;
}

.input-file:hover {
    background-color: #a0a0a0;
}

.sidebar {
    width: 250px;
    background-color: #D9D9D9;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.btn-side {
    display: block;
    background-color: #FFFFFF;
    padding: 12px 18px;
    color: #000000;
    text-decoration: none;
    font-size: 1.1rem;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
    border: 1px solid black;
}

.btn-side:hover {
    background-color: #a0a0a0;
}

.logout {
    background-color: #C98282;
    color: #FFFFFF;
}

.logout:hover {
    background-color: #b55;
}
